<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="cabecalho :: head"></div>
    <title>Crud Manager - Policial</title>
    <style>
        body {
            background-image: url('https://i.imgur.com/z7GqKZn.gif');
            background-size: cover;
            color: white;
        }

        h2 {
            color: white;
        }

        .form-control {
            color: black;
        }
    </style>
</head>

<body>
    <div class="container my-2">
        <h2>Policial</h2>
        <form action="#" th:action="@{/cops/new}" th:object="${cop}" method="POST">
        	
        	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
            <input type="text" th:field="*{name}" placeholder="Nome do policial" class="form-control mb-4 col-4">
			
			<span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger"></span>
			<select th:field="*{gender}" class="form-control mb-4 col-4">
			    <option value="">Selecione</option>
			    <option value="M">Masculino</option>
			    <option value="F">Feminino</option>
			</select>

			
			<span th:if="${#fields.hasErrors('rank')}" th:errors="*{rank}" class="text-danger"></span>
			<input type="text" th:field="*{rank}" placeholder="Patente/Posição na corporação" class="form-control mb-4 col-4">
			
            <button type="submit" class="btn btn-info col-2">Salvar</button>
        </form>
        <hr>
        <a th:href="@{/cops}" style="color: white;">Policiais</a>
    </div>
</body>
</html>
